<div class="container">
    <form class="form" method="POST" enctype="multipart/form-data">
        <fieldset style="border: 1px solid #e5e5e5;padding: 2em 0 1em;margin-top: 2em;position: relative;">
            <legend style="border-bottom:none;padding:0 10px;width:inherit;">Upload</legend>
            <div class="form-group" style="padding: 20px 250px;">
                <label>Picture: </label>
                <input class="form-control-file" type="file" name="picture">
                <br>
                <label>Caption: </label>
                <br>
                <textarea name="caption" id="caption" cols="70" rows="5"></textarea>
                <br>
                <br>
                <button class="btn btn-info">Upload</button>
            </div>
        </fieldset>
    </form>
</div>