<div class="container">
        <% if(flash && flash.success){ %>
            <p class="bg-info" style="text-align: center;"><%= flash.success %></p>
        <% } %>
    <% data.forEach( val => { %>
        <div class="col-lg-3">
            <div style="width: 80%;margin: 10px 0px;">
                <a href="/pikka/<%= val.id %>">
                    <img style="width: 100%;height: 200px;" src="img/<%= val.picture_name %>" alt="picture">
                </a>
                Post By:
                <%= val.email %> Date:
                    <%= val.created_at %>
                        <br>
                        <button class="btn-info" style="padding: 3px;border-radius: 5px;">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like:
                            <%= val.likes %>
                        </button>
                        <button class="btn-info" style="padding: 3px;border-radius: 5px;">
                            <span class="glyphicon glyphicon-pencil"></span> Comment:
                            <%= val.comment %>
                        </button>
            </div>
        </div>
        <% }) %>
</div>