<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/signin">SingIn</a>
      </li>
      <li class="">
        <a href="/create">Create</a>
      </li>
      <li>
        <a href="/signout">Sign Out</a>
      </li>
      <li>
        <a href="/profile">My Profile</a>
      </li>
      <!-- <li class=""><a href="/contract">Contact Me</a></li>
            <li class=""><a href="/portfolio">Portfolio</a></li> -->
    </ul>
    <form action="/" class="form-inline" method="GET" style="float: right;margin: 10px 0px;">
      <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input type="text" class="form-control" placeholder="Search Caption" name="caption">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
</nav>
