<div class="container">
    <% data.forEach( val => { %>
        <div class="col-lg-12">
            <div style="padding: 0% 20%">
                <img style="width: 100%;" src="/img/<%= val.picture_name %>" alt="picture">
                <span style="font-size: 25px;">
                    <%= val.caption %>
                </span>
                <br> Post By:
                <%= val.email %> Date:
                    <%= val.created_at %>
                        <br>
                        <span onclick="likesClick();" class="btn-info" style="padding: 3px;border-radius: 5px;">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like:
                            <span id="like"><%= val.likes %></span>
                        </span>
                        <span class="btn-info" style="padding: 3px;border-radius: 5px;">
                            <span class="glyphicon glyphicon-pencil"></span> Comment:
                            <%= val.comment %>
                        </span>
                        <br><br>
                        <div style="width: 100%;background-color: aquamarine;">
                            <% comments.forEach( val => { %>
                        <div style="border: 1px solid #000;margin: 2px 0px;padding: 0px 10px;">
                            <%= val.email %> :
                            <br>
                            <%= val.text %>
                        </div>
                            <% }) %>
                        </div>
                        <br>
                        <br>
                        <form action="/pikka" method="POST" name="frmComment">
                            <textarea name="comment" id="comment" cols="100" rows="10"></textarea>
                            <input type="hidden" name="process" value="comment">
                            <input type="hidden" name="picId" value="<%= data[0].id %>">
                            <br>
                            <br>
                            <button class="btn btn-warning">Comment</button>
                        </form>
                        <br>
                        <br>
            </div>
        </div>
        <% }) %>
</div>

<script>
    function likesClick(){
        $.ajax({
            url: '/pikka',
            type: 'post',
            data: {process: 'like', picId: '<%= data[0].id %>'},
            success: function(data){
                $('#like').text(data)
            }
        })
    }
</script>