<div class="container">
    <form class="form" method="POST" name="formSignIn" id="formSignIn">
        <fieldset style="border: 1px solid #e5e5e5;padding: 2em 0 1em;margin-top: 2em;position: relative;">
            <legend style="border-bottom:none;padding:0 10px;width:inherit;">Register</legend>
            <div class="form-group" style="padding: 20px 250px;">
                <label>User Name: </label>
                <input class="form-control" type="text" name="username" id="username">
                <br>
                <label>First Name: </label>
                <input class="form-control" type="text" name="firstname" id="firstname">
                <br>
                <label>Last Name: </label>
                <input class="form-control" type="text" name="lastname" id="lastname">
                <br>
                <label>Email: </label>
                <input class="form-control" type="email" name="email">
                <br>
                <label>Password: </label>
                <input class="form-control" type="password" name="password" id="password">
                <br>
                <label>Confirm Password: </label>
                <input class="form-control" type="password" name="conpassword" id="conpassword">
                <br>
                <button type="button" onclick="checkEmail()" class="btn btn-success">Confirm</button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    function checkEmail() {
        let pass1 = $('#password').val()
        let pass2 = $('#conpassword').val()
        if (pass1 === pass2) {
            $('#formSignIn').submit()
        } else {
            alert('ยืนยันรหัสผ่านไม่ถูกต้อง')
            return
        }
    }
</script>