<div class="container">
    <% if(flash && flash.error){ %>
        <p class="bg-danger" style="text-align: center;">
            <%= flash.error %>
        </p>
        <% } %>
            <form class="form" method="POST" id="frm-login" name="frm-login">
                <fieldset style="border: 1px solid #e5e5e5;padding: 2em 0 1em;margin-top: 2em;position: relative;">
                    <legend style="border-bottom:none;padding:0 10px;width:inherit;">Login</legend>
                    <div class="form-group" style="padding: 20px 250px;">
                        <input class="form-control" type="hidden" name="firstname" id="firstname">
                        <input class="form-control" type="hidden" name="lastname" id="lastname">
                        <input class="form-control" type="hidden" name="facebook_user_id" id="facebook_user_id">
                        <label>Email: </label>
                        <input class="form-control" type="email" name="email" id="email">
                        <br>
                        <label>Password: </label>
                        <input class="form-control" type="password" name="password" id="password">
                        <br>
                        <button class="btn btn-success">Signin</button>
                        <a class="btn btn-info" href="/signup">สมัครใช้งาน</a>
                    </div>
                </fieldset>
            </form>
            <br>
            <br>
            <div class="row" style="text-align: center;">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>
            </div>
</div>



<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '184584095558789',
            cookie: true,
            xfbml: true,
            version: 'v3.0'
        });

        FB.AppEvents.logPageView();

        FB.getLoginStatus(function (response) {
            console.log(response);
            if (response.status=='connected') {
                FB.Event.subscribe('auth.login', FB.api("/me", { fields: 'first_name,last_name,email' }, function (res) {
                    console.log(res)
                    $('#email').val(res.email)
                    $('#firstname').val(res.first_name)
                    $('#lastname').val(res.last_name)
                    $('#facebook_user_id').val(res.id)
                    $('#frm-login').attr('action', '/facebook_login').submit()
                })
                );
            }

        });



    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));




</script>